{% extends "layout.html.twig" %}
{% block content %}

	<h2 class="text-center">Bienvenue sur le Picobeauf, vous devez être connecté pour jouer.</h2>
	<h3 class="text-center"><a href="{{ path('connexion') }}">Connexion</a></h3>

{% endblock %}